html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #161617;
  color: #fff;
  font-size: 20px;

  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#__next {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

.header,
.footer {
  min-height: 80px;
}

.header {
  background-color: #0b0e11;
  display: flex;
  align-items: center;
  padding: 0 20px;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.footer {
  background-color: #0b0e11;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

a {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  color: #fa6600;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.active {
  color: #fff;
  background-color: rgb(31 28 27);
  border-radius: 5px;
}

a:hover {
  color: #fff;
  background-color: rgb(31 28 27);
  border-radius: 5px;
}

.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  flex: 1;
}
